<div class="breadcrumb">
    <ul class="breadcrumb_list">
        <li class="breadcrumb_list__item"><LinkTo @route={{'music'}} class="breadcrumb_list__item-link">{{t "breadcrumb.home"}}</LinkTo></li>
        <li class="breadcrumb_list__item">|</li>
        <li class="breadcrumb_list__item"><LinkTo @route={{'music.artist'}} class="breadcrumb_list__item-link">{{t "breadcrumb.artists"}}</LinkTo></li>
    </ul>
</div>

<div class="artist-details_header">
    <div class="artist-details_header__imgbox">
        <picture>
            <source media="(max-width: 700px)" srcset={{artist.imgSmallPath}}>
            <source media="(min-width: 701px)" srcset={{artist.imgMediumPath}}>
            <source media="(min-width: 1200px)" srcset={{artist.imgPath}}>
            
            <img src={{artist.imgPath}} alt={{artist.name}}  class="album-details_header__img">
        </picture>
    </div>

    <div class="artist-details_header__title">
        <h2>{{artist.name}}</h2>
        {{#if artist.songs}}
            <button class="artist-details_header__play-btn">{{t "artistDetail.playAll"}}</button>
        {{/if}}
        
    </div>
</div>

<SongsList @record={{artist}} />
