<div class="breadcrumb">
    <ul class="breadcrumb_list">
        <li class="breadcrumb_list__item"><LinkTo @route={{'music'}} class="breadcrumb_list__item-link">{{t "breadcrumb.home"}}</LinkTo></li>
        <li class="breadcrumb_list__item">|</li>
        <li class="breadcrumb_list__item"><LinkTo @route={{'music.albums'}} class="breadcrumb_list__item-link">{{t "breadcrumb.albums"}}</LinkTo></li>
    </ul>
</div>

<MusicCarousel 
    @heading="Albums" 
    @route="music.albums" 
    @record={{model}}
    @detailLink="music.albums.detail"
    @showMoreLink={{false}}
/>